@import url("https://use.typekit.net/kmt3uyl.css");

::ng-deep :root {
    /* colours */
    --red: #F75648;
    --lightred: #FE796D;
    --darkred: #E13A2D;
    --superdarkred: #C4261A;
    --gray: #A0A1A4;
    --lightgray: #C6C7C9;
    --verylightgray: #EDEEEF;
    --bglightgray: #f5f5f5;
    color: var(--gray); 

    /* fonts */
    --headerfont: normal 32px "eloquent-jf-pro", serif;
    --bodyfont: 400 1em/1.278 'nimbus-sans', sans-serif;
    font: var(--bodyfont); 

    /* breakpoints */
    --minimaxwidth: 480px; 
    --mobilemaxwidth: 700px; 
    --tabletmaxwidth: 1200px; 
    --desktopmaxwidth: 1500px;
}

