<div id="filters">
	<!-- <div class="size-filter">
		<div class="title">How Much Do You
			<br> Want to Know?
		</div>
		<div class="filter-links size-toggle">
			<a routerLink="/list" class=" compact" data-size="small" onclick="changeSize({'name':'compact', 'class':'small'})">
				<span>Skim</span>
			</a>
			<a routerLink="/list" class="active  default" data-size="medium" onclick="changeSize({'name':'default', 'class':'medium'})">
				<span>Peruse</span>
			</a>
			<a routerLink="/list" class=" detailed" data-size="large" onclick="changeSize({'name':'detailed', 'class':'large'})">
				<span>Deep Dive</span>
			</a>
		</div>
	</div> -->
	<div class="type-filter">
		<div class="title">Sort By Type</div>
		<div class="filter-links type-toggle">
			<a routerLink="/list" class="active filter-all">
				<span>All</span>
			</a>
			<a routerLink="/list/restaurant" class="filter-restaurant">
				<span>Restaurant</span>
			</a>
			<a routerLink="/list/bar" class="filter-bar">
				<span>Bar</span>
			</a>
			<a routerLink="/list/cafe" class="filter-cafe">
				<span>Cafe</span>
			</a>
			<!--<a routerLink="/list/fastfood" class="filter-fast-food">
				<span>Fast Food</span>
			</a> -->
			<a routerLink="/list/dessert" class="filter-dessert">
				<span>Dessert</span>
			</a>
		</div>
	</div>
	<div class="cuisine-filter">
		<div class="title">Sort By Cuisine</div>
		<div class="filter-links cuisine-toggle">
			<i>Cuisine Filter Coming Soon</i>
		</div>
	</div>
	<div class="location-filter">
		<div class="title">Sort By Location</div>
		<div class="filter-links location-toggle">
			<i>Location Filter Coming Soon</i>
		</div>
	</div>
	<div *ngIf="filterservice.filter.length">
		<div class="title">Filter messages
			<button (click)="filterservice.clear()" class="">
				<span>Clear</span>
			</button>
		</div>
		<div *ngFor='let message of filterservice.filter'>
			<div class="filter-links location-toggle">
				<i>{{message}}</i>
			</div>
		</div>
	</div>
</div>
