<body class="small">
	<main class="outer-container">
		<img id="logo" src="https://rawgit.com/theradlist/old-Design-and-Assets/master/Logo/Logo500.png" />
		
		<nav id="menu">
			<ul>
				<li><a href="https://github.com/theradlist/theradlist.github.io/" target="_blank">Github</a>
				</li>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSephaNfj2R5kl0RJFgLlBf9JKWsC4wxWCprL5ixWI0VtJUJEQ/viewform?usp=sf_link"target="_blank">Review</a>
				</li>
			</ul>
		</nav>

		<router-outlet></router-outlet>
	</main>
	
	<footer class="site-footer">
		<div id="made-by-arjun">
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="assets/js/list.js"></script>
	<script src="assets/js/map.js"></script>
	<script src="assets/js/alpha.js"></script>
	<script src="https://rawgit.com/askalburgi/Made-By-Arjun-Icon/master/made-by-arjun.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEX8M0rexAvDXJTV-IbVerg25EnGdk9M&libraries=places&callback=initMap"></script>
	<script>
		changeSize({
			'name': 'default',
			'class': 'small'
		});
	</script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120962453-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		
		gtag('config', 'UA-120962453-1');
	</script>
</body>