<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>theradlist</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta property="og:url" content="http://theradlist.github.io">
  <meta property="og:title" content="theradlist">
  <meta property="og:image" content="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon194.png">
  <meta property="og:site_name" content="theradlist">
  <meta property="og:description" content="Usable restaurant finder for Edmonton, AB">

  <meta itemprop="name" content="theradlist">
  <meta itemprop="description" content="Usable restaurant finder for Edmonton, AB">
  <meta itemprop="image" content="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon194.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="theradlist">
  <meta name="twitter:description" content="Usable restaurant finder for Edmonton, AB">
  <meta name="twitter:image" content="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon194.png">

  <meta name="description" content="Usable restaurant finder for Edmonton, AB">
  <meta name="keywords" content="Edmonton food restaurant cafe bar">
  <link rel="canonical" href="http://theradlist.github.io">

  <link rel="apple-touch-icon" sizes="57x57" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon180.png">
  <link rel="icon" type="image/png" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon32.png"
    sizes="32x32">
  <link rel="icon" type="image/png" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon194.png"
    sizes="194x194">
  <link rel="icon" type="image/png" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon96.png"
    sizes="96x96">
  <link rel="icon" type="image/png" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon192.png"
    sizes="192x192">
  <link rel="icon" type="image/png" href="http://raw.githubusercontent.com/theradlist/Design-and-Assets/master/Favicons/Favicon16.png"
    sizes="16x16">
  <link rel="manifest" href="https://abc.xyz/manifest.json">
  <meta name="msapplication-TileColor" content="#ed1c24">
  <meta name="msapplication-TileImage" content="mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- <link rel="stylesheet" href="./assets/css/listsection.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/copystyle.css">
  <link rel="stylesheet" href="./assets/css/mapsection.css">
  <link rel="stylesheet" href="./assets/css/filtersection.css">
  <link rel="stylesheet" href="./assets/css/footerstyle.css"> -->
  <link rel="stylesheet" type="text/css" media="screen" href="https://rawgit.com/askalburgi/Made-By-Arjun-Icon/master/made-by-arjun.css" />


</head>

<body class="small">

  <main class="outer-container">

    <div class="bg-image">
      <img class="desktop" title="" alt="" src="./assets/images/bg-cropped.png">
      <img class="mobile" title="" alt="" src="./assets/images/bg-cropped-mobile.png">
    </div>

    <img id="logo" src="https://rawgit.com/theradlist/old-Design-and-Assets/master/Logo/Logo500.png" />

    <nav id="menu">
      <ul>
        <li><a href="https://github.com/theradlist/theradlist.github.io/" target="_blank">Github
          </a>
        </li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSephaNfj2R5kl0RJFgLlBf9JKWsC4wxWCprL5ixWI0VtJUJEQ/viewform?usp=sf_link"
            target="_blank">Review
          </a>
        </li>
      </ul>

    </nav>

    <div class="top wrapper">

      <div class="text-container">
        <h1 id="forgoogle" class="big-text">
          Foodies take note, <br /> Edmonton is <i>poppin'</i>
        </h1>

        <div class="copy">
          <p>but only for those that look it seems. Here to help you see, TheRADList. Find Edmonton's most
            interesting bars, cafe's and restaurants.
          </p>
        </div>
        <br>
        <p class="signature">Your Friends from Edmonton
        </p>
      </div>


    </div>

    <div class="list section">
      <div id="main-content">
        <div style="position:relative; z-index:6;">
          <div id="item-list" class="grid">
            <app-restaurants></app-restaurants>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer class="site-footer">
    <div id="made-by-arjun">
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="assets/js/list.js">
  </script>
  <script src="assets/js/map.js">
  </script>
  <script src="assets/js/alpha.js">
  </script>
  <script src="https://rawgit.com/askalburgi/Made-By-Arjun-Icon/master/made-by-arjun.js">
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEX8M0rexAvDXJTV-IbVerg25EnGdk9M&libraries=places&callback=initMap">
  </script>
  <script>
    changeSize({
      'name': 'default',
      'class': 'small'
    });

  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120962453-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-120962453-1');

  </script>
</body>
</html>
