<div class="bg-image">
  <img class="desktop" title="" alt="" src="assets/images/bg-cropped.png">
  <img class="mobile" title="" alt="" src="assets/images/bg-cropped-mobile.png">
</div>
<div class="top wrapper">
  <div class="text-container">
    <h1 class="big-text">
      Foodies take note, <br /> Edmonton is <i>poppin'</i>
    </h1>

    <div class="copy">
      <p>Here to help you explore, TheRADList. Find Edmonton's most interesting bars, cafe's and restaurants.</p>
    </div>
    <button class="CTA" routerLink="/list">start eating</button>
  </div>
</div>